[Unit]
Description=Daily Home Radar blocklist update

[Timer]
OnBootSec=10min
OnCalendar=daily
RandomizedDelaySec=30min
Persistent=true

[Install]
WantedBy=timers.target
